<p style="font-weight:bold;">Hi <%=@performance.employee.name%>,</p>
<p class="emp" style="color:red;">Performance was successfully created.</p>

<div class="detail" style="color:#01008E;">
<p>Employee Name:<%=@performance.employee.name%></p>
<p> Project Name: <%=@performance.project.name%></p>
<p>  Client Nmae: <%=@performance.project.client%></p>
<p>         Date: <%=@performance.start_date%></p>
<p>         Task: <%=@performance.task%></p>
<p>     Duration: <%=@performance.duration%></p>
<p>        Grade: <%=@performance.grade %></p>
</div>
