<p style="font-weight:bold;">Hi <%=@employee.name%>,</p>
<p class="emp" style="color:red;">Employee detail was successfully created</p>

<div class="detail" style="color:#01008E;">
<p>Employee Name: <%=@employee.name%></p>
<p>     Platform: <%=@employee.platform.platform%></p>
<p>        Email: <%=@employee.eamil%></p>
<p>      Address: <%=@employee.location%></p>
<p>       Mobile: <%=@employee.mobile%></p>
</div>
