<div class="indexcontainer">
<div class="index">
<marquee>Listing projects</marquee>

<table border="0" cellspacing="0" cellpadding="0" class="stipe">
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.client %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @projects%>
</div>
<%= render :partial => "/share/right_side"%>
</div>
