<div class="list" style="float:left;width: 960px;clear:both;margin-bottom: 15px;">
  <h1>Listing Projects</h1>
    <span class="emp" style="float: left;width: 270px;height: 80px;font-weight: bold;"><img src="/assets/Project-icon .png" alt="Smiley face"/>Number of projects(<%#=@count.count%>) </span>
    </div>

<table border="0" cellspacing="0" cellpadding="0" class="stipe">
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.client %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<div style="float:left;">
<%= paginate @projects%>
</div>
<%#= render :partial => "/share/right_side"%>

