<div class="list" style="float:left;width: 960px;clear:both;margin-bottom: 15px;">
  <h1>Listing Performance</h1>
    <span class="emp"><img src="/assets/monitor.png" alt="Smiley face"/>Number of performance(<%=@count.count%>) </span>
     <div class="search" style="float:right;margin-right: 20px;margin-top: 15px;">
     <%= form_tag performances_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
     <% end %>
     </div> 
 </div> 
<table border="0" cellspacing="0" cellpadding="0" class="stipe">
  <tr>
    <th>Name </th>
    <th>Project </th>
    <th>Client &nbsp;</th>
    <th>Start Date &nbsp;</th>
    <th>End Date &nbsp;</th>
    <th>Task </th>
    <th>Duration &nbsp;</th>
    <th>Grade &nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%= performance.employee.name unless performance.employee.nil? %></td>
    <td><%= performance.project.name unless performance.project.nil? %></td>
    <td><%= performance.project.client unless performance.project.nil? %></td>
    <td><%= performance.start_date %></td>
    <td><%= performance.end_date %></td>
    <td><%= performance.task %></td>
    <td><%= performance.duration %></td>
    <td><%= performance.grade %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div style="float:left;">
<%= paginate @performances %>
</div>
<%#= render :partial => "/share/right_side"%>

